.admin-info {
    text-align: center;
}

.link-list {
    margin-top: $space-xxl;

    .link-list__item + .link-list__item {
        border-top: 1px solid $border_color-list;
    }

    .link-list__link {
        display: block;
        padding: 5px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.category-form {
    display: flex;
    margin-top: $space-xxl;

    .category-form__input {
        width: 100%;
        padding: 10px;
        outline: none;
        background: $bg-base;
    }
    
    .category-form__submit-btn {
        width: 20%;
        padding: 10px;
        text-align: center;
        background: $bg-accent;
        color: #fff;
        
        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }
}

.category-list {
    margin-top: $space-xxl;

    .category-list__item {
        position: relative;
        padding: 5px 10px;
        border-bottom: 1px solid $border_color-list;
    }

    .category-list__btn {
        position: absolute;
        right: 20px;

    }
}