.user-contents {
    
    .contents__head {
        .user-info {
            text-align: center;
        
            .user-info__profile-img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }
            .user-info__name {
                color: rgb(187, 184, 184);
            }
        
            .user-info__link {
                display: inline-block;
                min-width: 100px;
                padding: 0 5px;
                background: $bg-accent;
                color: $c-main;
                border-radius: 5px;
            }
            .user-info__count-area {
                width: 100%;
                margin-top: $space-l;
                
                .user-info__count-item {
                    width: calc(100% / 3);
                    margin: 0 auto;
                    padding: 15px;
                }
                
                .user-info__count {
                    font-size: $fz-3l;
                }
            }
        }
    }
    
    .contents__body {
        margin-top: 0;
        border-top: 1px solid rgb(207, 204, 204);

        .tab {
            display: flex;
    
        }

        .tab__item {
            width: 50%;
            padding: 20px 0;
            border-bottom: 1px solid rgb(207, 204, 204);
            text-align: center;
            background: $bg-main;
            color: rgb(207, 204, 204);

            &--active {
                border-bottom: 5px solid $c-accent;
                color: $c-default;
            }
        }


        .url-list {
            max-width: 500px;
            margin: $space-3l auto;
        
            .url-list__item {
                display: flex;
                padding: 5px 0;
                font-size: $fz-l;
            }
        
            .url-list__title {
                display: block;
                width: 150px;
            }
        
            .url-list__link {
                display: block;
                text-decoration: underline;
            }
        }
    }
}


