html body {
    // font-family: $font;
    font-size: $fz-default;
    color: $c-default;
    background: $bg-base;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

ul {
    list-style: none;
}

main {
    background: $bg-base;
    min-height: 700px;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: $site-width;
    padding: 30px 4%;

    &--2column {
        display: flex;
    }
}

.sidebar {
    width: 30%;
    min-height: 600px;
    padding: 10px;
    background: $bg-main;
}

.contents {
    min-height: 600px;
    padding: 30px;
    background: $bg-main;

    &--2column {
        width: 65%;
        margin-left: 5%;
    }

    // &--index {

    //     .contents__body {
    //         border-top: 1px solid rgb(182, 179, 179);
    //     }
    // }

    .contents__head {
        position: relative;

        .contents__title {
            font-size: $fz-xxl;
        }

        .contents__delete-btn {
            position: absolute;
            top: 20px;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .contents__body {
        margin-top: $space-3l;
    }

    .contents__foot {
        margin-top: $space-3l;
    }
}