html body {
    // font-family: $font;
    font-size: $fz-default;
    color: $c-default;
    background: $bg-base;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

ul {
    list-style: none;
}

main {
    background: $bg-base;
    min-height: 700px;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: $site-width;
    padding: 30px 4%;

    &--2column {
        display: flex;
    }
}

.sidebar {
    width: 30%;
    min-height: 500px;
    padding: 10px;
    background: $bg-main;
}

.contents {
    width: 65%;
    min-height: 500px;
    margin-left: 5%;
    background: $bg-main;
}