// フォント
// $font: ;

// フォントサイズ
$fz-default: 16px;
$fz-s: 12px;
$fz-m: 14px;
$fz-l: 18px;
$fz-xl: 24px;
$fz-xxl: 30px;
$fz-3l: 38px;

// サイト幅
$site-width: 980px;

// 余白
$space-s: 5px;
$space-m: 10px;
$space-l: 15px;
$space-xl: 20px;
$space-xxl: 30px;
$space-3l: 40px;

// 背景色
$bg-base: rgb(242, 244, 245);
$bg-main: rgb(255, 255, 255);
$bg-accent: rgb(013, 053, 099);
// $bg-header: ;
// $bg-footer: ;
// $bg-sidebar: ;
$bg-error: rgb(243, 202, 202);
// $bg-success: ;
// $bg-modal: ;
// $bg-submit_btn: ;
// $bg-follow: ;
// $bg-unfollow: ;
// $bg-code: ;
// $bg-tab: ;
// $bg-tab_active: ;
// $bg-pagination: ;
// $bg-pagination_active: ;
// $bg-btn_disabled: ;
$bg-warning: rgb(230, 0, 18);

// 文字色
$c-default: rgb(0, 0, 0);
$c-base: rgb(242, 244, 245);
$c-main: rgb(255, 255, 255);
$c-accent: rgb(013, 053, 099);
$c-nav: rgb(100, 100, 100);
// $c-footer_nav: ;
// $c-footer_copy: ;
// $c-submit_btn: ;
$c-error: rgb(230, 0, 18);
// $c-success: ;
// $c-warning: ;
$c-note: rgb(230, 0, 18);
// $c-follow: ;
// $c-delete_btn: ;
// $c-edit_btn: ;
// $c-favor: ;
// $c-profile_url: ;
// $c-username: ;
// $c-date: ;
// $c-tab: ;
// $c-tab_active: ;
// $c-pagination: ;
// $c-pagination_active: ;
// $c-input: ;
// $c-code: ;

$border_color-list: rgb(207, 207, 207);