.footer {
    background: $bg-accent;

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        padding: 30px 50px 20px;
    }

    .footer__copy {
        font-size: $fz-s;
        color: #fff;
    }
}


.footer__nav {
    font-size: $fz-m;

    .footer__item {
        padding: 10px 0;
    }
    
    .footer__link {
        color: #fff;
        &:hover {
            border-bottom: 1px solid #fff;
        }
    }
}