.header {
    height: 120px;

    .header-wrap {
        height: 100%;
        padding: 5px 10px;
    }
}

.header__logo {
    font-size: $fz-3l;

    a {
        color: $c-accent;
        font-weight: bold;
    }
}

.header__nav {
    .header__menu {
        display: flex;
        justify-content: flex-end;
    }
    
    .header__item {
        
        &:hover {
            color: $c-default;
            border-bottom: 3px solid $c-default;
        }
    }
    
    .header__link {
        display: block;
        padding: 10px;
    }
}
