.memo-list {

    .memo-list__item {
        position: relative;
    }

    .memo-list__item + .memo-list__item {
        border-top: 1px solid $c-base;
    }

    .memo-list__link {
        display: block;
        padding: 15px 5px;
    }

    .memo-list__head {
        position: relative;
        font-size: $fz-s;
    }

    .memo-list__label {
        padding: 5px;
        color: $c-main;

        &--unsolved {
            background: $bg-warning;
        }

        &--solved {
            background: rgb(6, 255, 81);
        }
    }

    .memo-list__date {
        position: absolute;
        top: 0;
        right: 0;
    }

    .memo-list__title {
        display: block;
        margin-top: $space-s;
        font-weight: bold;
    }
}